<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.rwenjie.modules.sys.mapper.SpuDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nuc.rwenjie.modules.sys.dataobject.SpuDetail">
        <id column="spu_id" property="spuId" />
        <result column="description" property="description" />
        <result column="specifications" property="specifications" />
        <result column="spec_template" property="specTemplate" />
        <result column="packing_list" property="packingList" />
        <result column="after_service" property="afterService" />
        <result column="article_id" property="articleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        spu_id, description, specifications, spec_template, packing_list, after_service, article_id
    </sql>

</mapper>
