<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.rwenjie.modules.sys.mapper.SpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nuc.rwenjie.modules.sys.dataobject.Spu">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="sub_title" property="subTitle" />
        <result column="cid1" property="cid1" />
        <result column="cid2" property="cid2" />
        <result column="cid3" property="cid3" />
        <result column="main_image" property="mainImage" />
        <result column="sub_images" property="subImages" />
        <result column="images" property="images" />
        <result column="expree_template_id" property="expreeTemplateId" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, sub_title, cid1, cid2, cid3, main_image, sub_images, images, expree_template_id, address, status, create_time, update_time
    </sql>

</mapper>
